extends ./include/_layout
block var
  - metas = {}
  - metas.title = 'koka-portal-TOP'
  - metas.site_name = 'koka-portal'
  - metas.description = 'description'
block append meta
  +meta(metas)
block title
  title koka-portal-top
block body
  section.hero
    .hero__inner
      .hero__text
        h2 里親募集
        h1 猫の里親募集
  
  section.introduction
    .introduction__inner
      .introduction__text
        h3.introduction__title 里親になるには
        p.introduction__description
          | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字
        h3.introduction__title 里親を募集するには
        p.introduction__description
          | この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字
      .introduction__pict
  
  section.nekochanList
    .nekochanList__inner
      ul.nekochanList__cardOuter
        li.nekochanList__card
          .nekochanList__imege.nekochanList__imege--active
          .nekochanList__description
            h4.nekochanList__name
              | 遊ぶの大好きなキジシロ
            p.nekochanList__type
              | 雑種
              span ♂
              | 子猫
            p.nekochanList__location
              | 東京都 北区赤羽

            div.nekochanList__information
              p.nekochanList__limit
                | 2021年02月04日まで
              .nekochanList__number
                | 募集番号：340150
                
        li.nekochanList__card
          .nekochanList__imege.nekochanList__imege--active
          .nekochanList__description
            h4.nekochanList__name
              | 遊ぶの大好きなキジシロ
            p.nekochanList__type
              | 雑種
              span ♂
              | 子猫
            p.nekochanList__location
              | 東京都 北区赤羽

            div.nekochanList__information
              p.nekochanList__limit
                | 2021年02月04日まで
              .nekochanList__number
                | 募集番号：340150
                
        
        li.nekochanList__card
          .nekochanList__imege.nekochanList__imege--active
          .nekochanList__description
            h4.nekochanList__name
              | 遊ぶの大好きなキジシロ
            p.nekochanList__type
              | 雑種
              span ♂
              | 子猫
            p.nekochanList__location
              | 東京都 北区赤羽

            div.nekochanList__information
              p.nekochanList__limit
                | 2021年02月04日まで
              .nekochanList__number
                | 募集番号：340150


        li.nekochanList__card
          .nekochanList__imege.nekochanList__imege--active
          .nekochanList__description
            h4.nekochanList__name
              | 遊ぶの大好きなキジシロ
            p.nekochanList__type
              | 雑種
              span ♂
              | 子猫
            p.nekochanList__location
              | 東京都 北区赤羽

            div.nekochanList__information
              p.nekochanList__limit
                | 2021年02月04日まで
              .nekochanList__number
                | 募集番号：340150


        li.nekochanList__card
          .nekochanList__imege.nekochanList__imege--active
          .nekochanList__description
            h4.nekochanList__name
              | 遊ぶの大好きなキジシロ
            p.nekochanList__type
              | 雑種
              span ♂
              | 子猫
            p.nekochanList__location
              | 東京都 北区赤羽

            div.nekochanList__information
              p.nekochanList__limit
                | 2021年02月04日まで
              .nekochanList__number
                | 募集番号：340150


        li.nekochanList__card
          .nekochanList__imege.nekochanList__imege--active
          .nekochanList__description
            h4.nekochanList__name
              | 遊ぶの大好きなキジシロ
            p.nekochanList__type
              | 雑種
              span ♂
              | 子猫
            p.nekochanList__location
              | 東京都 北区赤羽

            div.nekochanList__information
              p.nekochanList__limit
                | 2021年02月04日まで
              .nekochanList__number
                | 募集番号：340150


        li.nekochanList__card
          .nekochanList__imege.nekochanList__imege--active
          .nekochanList__description
            h4.nekochanList__name
              | 遊ぶの大好きなキジシロ
            p.nekochanList__type
              | 雑種
              span ♂
              | 子猫
            p.nekochanList__location
              | 東京都 北区赤羽

            div.nekochanList__information
              p.nekochanList__limit
                | 2021年02月04日まで
              .nekochanList__number
                | 募集番号：340150


        li.nekochanList__card
          .nekochanList__imege.nekochanList__imege--active
          .nekochanList__description
            h4.nekochanList__name
              | 遊ぶの大好きなキジシロ
            p.nekochanList__type
              | 雑種
              span ♂
              | 子猫
            p.nekochanList__location
              | 東京都 北区赤羽

            div.nekochanList__information
              p.nekochanList__limit
                | 2021年02月04日まで
              .nekochanList__number
                | 募集番号：340150

  footer
    p ©︎ Kisumi takashima