@charset "UTF-8"; 
@import "./layout/variable";

body {
  font-family: $fonts;
  background: #FDEEE7;

  @media only screen and (min-width: 800px) {
    background: #fff;
  }
}

footer{
  padding: 20px;
  margin-top: 70px;
  background: #F9C2A3;

  @media only screen and (min-width: 800px) {
    padding: 20px 0;
    margin-top: 120px;
  }

  p{
    max-width: 1280px;
    margin: 0 auto;
    font-size: 13px;
    color: #5D5D5D;
  }
}