@charset "UTF-8";
@import "./layout/variable";

.ditail{
  display: flex;
  flex-wrap: wrap;
}

.ditailInformation__bg{
  position: fixed;
  z-index: -1;
  background: #F9C2A3;
  width: 50%;
  height: 100vh;
  right: 0;
  top: 0;
}

.ditailPhoto{
  width: 50%;
  padding: 50px;

  &__main{
    padding-bottom: 66%;
    background-image: url(/images/img-cat01.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }

  &__thm{
    margin-top: 30px;

    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    li{
      width: calc(20% - 20px);
    }

    img{
      width: 100%;
    }
  }
}

.ditailInformations{
  width: 50%;
  padding: 50px;
}

.ditailInformation{
  &__number{
    font-size: 20px;
    font-weight: bold;
  }

  &__name{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
  }

  &__information{
    margin-top: 45px;
    font-size: 13px;
    line-height: 1.5;

    table{
      width: 100%;
    }

    th, td{
      width: 20%;
      padding: 10px 0;
    }
  }

  &__catDescription{
    margin-top: 45px;

    th{
      width: 150px;
    }

    td{
      width: auto;
    }
  }

  &__button{
    width: 100%;
    background: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 45px;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
  }
}