extends ../include/_layout
block var
  - metas = {}
  - metas.title = 'koka-portal-detail'
  - metas.site_name = 'koka-portal'
  - metas.description = 'description'
block append meta
  +meta(metas)
block title
  title koka-portal-detail
block body
  p test 01